@font-face {
    font-family: 'paci';
    src: url('font/Pacifico-Regular.woff2') format('woff2'),
        url('font/Pacifico-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robo';
    src: url('font/Roboto-Regular.woff2') format('woff2'),
        url('font/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fami';
    src: url('font/FamiljenGrotesk-VariableFont_wght.woff2') format('woff2'),
        url('font/FamiljenGrotesk-VariableFont_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'play';
    src: url('font/AnyConv.com__PlayfairDisplay-VariableFont_wght.woff2') format('woff2'),
        url('font/PlayfairDisplay-VariableFont_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    width:100%;
    height:100%;
    
    background: linear-gradient(to bottom, #FFFFF3 0%, #ffffff 100%);
    
}

.font-fami{
    font-family: fami;
}

.font-paci{
    font-family: paci;
}
.font-robo{
    font-family: robo;
}
.nav-divs{
    width:25%;
}
.navdiv{
    height:13vh;
}
.logo{
    width:77%
}
.navlinksdiv{
    padding: 1.5vh 2vw;
    white-space: nowrap;
    border-radius: 50px;
    
}
.navlinkfami{
    font-family: robo;
    font-size: 0.9rem;
    border-radius: 50px;
    color: black;
}
.navlinkfami:hover{
    background-color: #111f3c;
    color:white;
}
.hero-div{
    width:90%;
    /* height:90vh; */
    margin: 0 auto;
   
}
.hero-sub1{
    
    width:50%;
}
.hero-kiri{
    
    padding: 0%;
    margin: 0%;
    font-family: robo;
    color:#111f3c;
    font-size: 4.5vw;
}
.hero-real{
    font-family:play ;
    font-size: 2.5vw;
    color:#111f3c;
}
.hero-desc{
    width:28vw;
    font-family: fami;
    font-size: 1vw;
    color: #111f3c;
}
.avec{
    right:1vw;
}
.lvec{
    right:1vw;
}
.aavec{
    right:1vw;
}
.wvec{
    /* left:10px; */
}
.hero-order{
    border-radius: 50px;
    border:none;
    padding: 1vh 2vw;
    width:max-content;
    font-size: 1.4vw;
    font-family: fami;
    background-color: #111f3c;
}
.hero-order:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #111f3c;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }


   .hero-order2{
    border-radius: 50px;
    border:none;
    /* height:6vh;
    width:10vw; */
    padding: 1vh 2vw;
    font-size: 1.4vw;
    margin-top: 3vh;
    font-family: fami;
    background-color: #111f3c;
}
.hero-order2:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse5121 1.5s infinite;
   }
   
   @keyframes pulse5121 {
    0% {
     box-shadow: 0 0 0 0 #fff;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }



.banner{
    width:90%;
    /* height:30vh; */
    margin:0 auto;
    margin-top: 15vh;
    background-color: #C1121F;
}


.bannerl1{
    font-family: fami;
    font-size:1.8vw;
    margin-left: 3vw;
}
.bannerl2{
    font-family: fami;
    font-size: 2.9vw;
    margin-left: 3vw;
}
.bannerl3{
    font-family: fami;
    font-size: 1.1vw;
    margin-left: 3vw;
}

.sec3{
    width:90vw;
    /* height: 70vh; */
    margin:0 auto;
    margin-top: 15vh;
}
.sec3l1{
    font-family: fami;
    font-size: 3vw;
    color: #950023;

}
.sec3l2{
    font-family: fami;
}
.sec4{
    width:90%;
    /* height:70vh; */
    margin:0 auto;
    margin-top: 20vh;
}
.sec41{
    width:40%;
}
.sec42{
    width:60%;
}
.sec41i{
   object-fit: cover;
}
.sec421{
    width:95%;
   height:15vh;
   top:12vh;
   border-radius: 10px;
   background-color:  #FAEBD7;
   ;
}
.sec422{
    width:95%;
    height:15vh;
    margin-left: auto;
    border-radius: 10px;
    background-color:  #780000;

}
.sec421l{
    font-family: fami;
    font-size: 1.5vw;
    margin-left: 4vw;
}

.pname{
  font-family: fami;
  font-size: 0.9vw;
}

.pqan{
  font-family: fami;
  color:#a4a4a4 ;
  font-size: 1vw;
}
.pp{
  font-family: fami;
  font-size: 1.1vw !important;
}

.grp4c{
    width:100%;
    height: auto;
}
.row1{
    width:100%;
    margin-top: 1.5vh;
    /* height: 12vh; */
    /* height: 10vh; */
    /* background-color: antiquewhite; */
}
.boxx{
    width:49%;
    /* height: fit-content !important; */
    padding: 0 1vw;
    border-radius: 10px;
    background-color: #fff;
}

.bann2{
    width:80%;
    /* height:31vh; */
    margin:0 auto;
    border-radius: 13px;
    margin-top: 20vh;
    background-color:  #C1121F;
    ;
}
.banni{
   /* bottom:5vh;
   left:5vw; */
    
}
.linkhov{
    color:white;
}
.linkhov:hover{
    color:#ec7100;
    transition: 0.1s;
}
.whtlin{
    color:black;
}
.whtlin:hover{
    color:#ec7100;
    transition: 0.1s;
}



/* applestore btn code */

/* From Uiverse.io by Yaya12085 */ 




  /* playstore btn code */

  /* From Uiverse.io by DhogMiT10 */ 
.playstore-button {
    display: inline-flex;
    /* width:12vw; */
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 1);
    padding: 0.625rem 1.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    outline: 0;
    transition: all 0.2s ease;
    text-decoration: none;
  }
  
  .playstore-button:hover {
    background-color: white;
    color: rgba(0, 0, 0, 1);
  }
  
  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  
  .texts {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
  }
  
  .text-1 {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }
  
  .text-2 {
    font-weight: 600;
  }

  



  /* facebook button */
/* From Uiverse.io by vinodjangid07 */ 
.buttonf {
    width: 37px;
    height: 37px;
    background-color: #3b5998;
    border: none;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.185),
   0px 3px 3px rgba(255, 255, 255, 0.178) inset,
   0px -3px 3px rgba(0, 0, 0, 0.281) inset;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 3px;
  }
  
  .buttonf::before {
    background-color: transparent;
    content: "f";
    font-size: 1.6em;
    font-weight: 700;
    color: white;
    z-index: 5;
    transition: all .3s;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  }
  
  .buttonf::after {
    content: "acebook";
    background-color: transparent;
    font-size: 0;
    opacity: 0;
    font-weight: 700;
    color: white;
    z-index: 5;
    transition: all .3s;
    transform: translateX(60px);
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  }
  
  .buttonf:hover {
    width: 160px;
    border-radius: 30px;
  }
  
  .buttonf:hover::after {
    opacity: 1;
    font-size: 1.6em;
    transform: translateX(0px);
  }
  
  .buttonf:hover .shine {
    transform: translate(-70px ,10px);
  }

  /* linkedin btn */

  /* From Uiverse.io by wilsondesouza */ 
.Btnl {
    border: none;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    background: #0274b3;
  }
  
  .svgIcon {
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: 0.4s;
  }
  
  .Btnl:hover {
    width: 110px;
    transition-duration: 0.4s;
    border-radius: 30px;
  }
  
  .Btnl:hover .text {
    opacity: 1;
    transition-duration: 0.4s;
  }
  
  .Btnl:hover .svgIcon {
    opacity: 0;
    transition-duration: 0.3s;
  }
  

  /* insta */

  /* From Uiverse.io by vinodjangid07 */ 
.Btni {
    border: none;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    overflow: hidden;
  }
  
  .svgIconi {
    transition-duration: .3s;
  }
  
  .svgIconi path {
    fill: white;
  }
  
.justlinks{
  width: 85%; 
  margin: 0 auto;
  padding: 3vh 0vw;
  white-space: nowrap;
  overflow: scroll;  
  scrollbar-width: none;      
  white-space: nowrap; 
}
.justlinks a{
  font-family: fami;
   font-size: 1vw;
}

  .texti {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: .4s;
  }
  
  .Btni:hover {
    width: 110px;
    transition-duration: .4s;
    border-radius: 30px;
  }
  
  .Btni:hover .texti {
    opacity: 1;
    transition-duration: .4s;
  }
  
  .Btni:hover .svgIconi {
    opacity: 0;
    transition-duration: .3s;
  }


  /* youtube */

  .Btny {
    border: none;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
  }

  .youtube {
    background-color: #ff0000;
  }

  .Btny:hover {
    width: 110px;
    transition-duration: 0.4s;
    border-radius: 30px;
  }
  
  .Btny:hover .texty {
    opacity: 1;
    transition-duration: 0.4s;
  }
  
  .Btny:hover .svgIcony {
    opacity: 0;
    transition-duration: 0.3s;
  }
  
  .texty {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: 0.4s;
  }
  
  .svgIcony {
    transition-duration: 0.3s;
  }
  
  .svgIcony path {
    fill: white;
  }
  .feeter2{
    display:none;
  }





  .cart-box {
    border-radius: 30px;
    padding: 1vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.fa-heart-o {
    color: red;
    cursor: pointer;
  }
  
  .fa-heart {
    color: red;
    cursor: pointer;
  }

  .cart-box img {
    width: 100%;
    /* height: 20vh; */
    object-fit: cover;
  }

  .cart-box h2 {
    font-size: 1Svw;
  }

  .cart-box div {
    width: 100%;
  }

  .kg {
    opacity: 0.7;
    font-size: 0.9vw;
  }

  .heart-svg {
    margin-top: -3vh;
  }


  .free-delivery {
    padding: 2vw;
  }

  .free-del {
    width: 100%;
  }

  .free-delivery-left {
    width: 60%;
  }

  .free-delivery-right {
    width: 40%;
  }

  .free-delivery-right img {
    width: 100%;
  }

  .ROW {

    display: grid;
    width:90%;
   
    margin: 0 auto;
    row-gap:2%;
    column-gap: 1%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }






















  .menu__link {
    color: #fff;
    line-height: 2;
    position: relative;
  }
  
  .menu__link::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #ec7100;
    position: absolute;
    bottom: -.25rem;
    left: 50%;
    transition: width .4s, left .4s;
  }
  
  .menu__link:hover::before {
    width: 100%;
    left: 0;
  }
  .moblogo{

  }
  .ban-img{
    width:85%
  }
  .banner-sub1{

  }
  .sec31{

  }
  .sec32{
   
  }
  .box-sp1{
    font-family:fami;
    
    font-size: 1vw;
  }
  .box-sp2{
    font-family:fami;
   
    font-size: 0.7vw;
  }
  .box-sp3{
    font-family:fami;
    
     font-size: 0.7vw;
  }
  .box-img{
    width:30%;
  }
  .sec4i{
    width:90%;
  }
  .sec32i{
    width:80%;
  }
  .bann2l{
    font-size: 2vw ;
  }
  


.feeter{
  
}





 





  /* Base Styles */

/* Mobile View (stack image on top) */
@media (max-width: 600px) {
  .hero-div {
    flex-direction: column;
    margin-top: 5vh;
    gap:2vh;
}

.hero-sub2 {
    order: -1;
}
.banner{
  flex-direction: column;
  margin-top:3vh;
}

.logo{
  width:90%;
}
.navlinksdiv{
  display: none !important;
}
.navdiv{
  height: 7vh;

}
.moblogo{
  display: flex;
  justify-content: center;
}
.hero-sub1{
  width:90%;
}
.hero-kiri{
  font-size: 2vw;
}
.hero-sub2{
  width:90%;
  display: flex;
  justify-content: center;
}
.hero-kiri{
  font-size: 10.5vw;
}
.feeter{
  display: none;
}
.hero-real{
  font-size: 5.5vw;
}
.hero-desc{
  width:60vw;
  font-size: 2.5vw;
}
.hero-order{
  font-size: 3vw;
  padding: 1.5vw 2vh !important;
  margin-top: 1vh !important;
}
.banner{
  margin-top: 3vh;
}
.ban-img{
  display: none;
}
.banner-sub1{
  width:100% !important;
  align-items: center;
}
.bannerl1{
  font-size: 3.8vw;
}
.bannerl2{
  font-size: 4.9vw;
}
.bannerl3{
  font-size: 3.1vw;
}
.sec3{
  flex-direction: column;
  gap:2vh;
}
.sec31{
  width: 100% !important;
  gap:2vh !important;
}
.sec32{
  width:100% !important;
  justify-content: center !important;
}
.sec3l1{
  font-size: 5vw;
}
.sec3l2{
  font-size: 2.2vw !important;
  width: 55vw;
}
.sec4{
  margin-top:5vh;
  flex-direction: column;
}
.sec41{
 width:100%
}
.sec42{
  width:100%
 }
 .sec422{
  height:9vh;
 }
 .sec421{
  height:9vh;
  top:8vh
 }
 .sec421l{
  font-size: 2.8vw;
 }
 .box-sp1{
  font-size: 2.7vw;
 }
 .box-sp2{
  font-size: 1.9vw;
 }
 .box-sp3{
  font-size: 1.9vw;
 }
 .sec4i{
  width:70%;
}
.sec32i{
  width:60%;
}

.bann2{
  width:85%;
  margin-top: 15vh;
}
.bann2l{
  font-size: 2.5vw;
}
.hero-order2{
  padding: 0.2vh 2vw;
  margin-top: 1vh;
  font-size: 2.5vw;
}
.row1{
  flex-direction: column;
  height: fit-content;
}
.boxx{
  width:100%;
}
.box-img{
  width:17%;
}

.justlinks{
  scrollbar-width: none;
  gap: 3vw !important;;
}
.justlinks a{
  font-family: fami;
  font-size: 3vw !important;
}


.feeter2{
  background-color: #111f3c;
  padding: 5vh 6vw;
  margin-top:5vh;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display:block;
  width:100%;
}
.foot-link-list{
  display:flex;
  flex-direction: column;
  padding: 2vh 0vw;
}
.foot-link-list a{
   text-decoration:none;
   color:white;
   font-size: 5vw;
}
.footer-rights{
  padding: 1vh 0vw;
  color:white;
  text-align: center;
}
.mobile-love-ezi{
  display:flex;
  color:white;
  margin: 0%;
  padding: 1vh 0vw;
  justify-content: center;
  align-items: center;
}
.mobile-social-icons{
  display:flex;
  justify-content: center;
  gap:2vw;
}

.pname{
  font-size: 2.5vw;
}
.pqan{
  font-size: 2vw !important;
}
.pp{
  font-size: 2.2vw !important;
}








.ROW {
  grid-template-columns: 1fr 1fr;
  row-gap: 1%;
  column-gap: 5%;
 }

 .cart-box h2 {
  font-size: 3Svw;
  }

  .kg {
     opacity: 0.7;
     font-size: 2.4vw;
 }

 .cart-box p {
  font-size: 3.4vw;
 }

 .cart-box svg {
  width: 8vw;
 }
 .cart-container {
  padding: 5vw;
  }

  .explore{
    font-size: 3vw;
    position:relative;
    top:6vh;
  }

}
